<div class="header">
  <h1>Katherine Potts &amp; Sebasti&aacute;n Le&oacute;n</h1>
  <h4>
    would like to you know if you, <b>{{invitation.name}}</b>, are going to
    assist to their wedding.
  </h4>
</div>


<p>
  <i class="bicon-watch"></i>
  <span>Saturday, 4th of January - 2014. 17:00 COT</span>
</p>

<p>
  <i class="bicon-compass"></i>
  <span>
    <a href="https://www.google.com/maps/preview#!q=Castillo+de+Salgar%2C+Salgar%2C+Atl%C3%A1ntico%2C+Colombia&data=!4m10!1m9!4m8!1m3!1d3580!2d-74.9416351!3d11.0182564!3m2!1i1280!2i702!4f13.1" target="_blank">Castillo de Salgar</a>
  </span>
</p>

<div class="confirmation-box" ng-switch on="invitation.status">
  <hr />
  <div ng-switch-when="pending">
    <p><span>Are you going to be there?</span></p>
    <br/>
    <div class="buttons">
      <button
        class="btn btn-large btn-info span3 pull-left"
        ng-click="accept()">Yes</button>

      <span class="or">or</span>

      <button
        class="btn btn-large btn-danger span3 pull-right"
        ng-click="reject()">No</button>
    </div>
  </div>

  <div ng-switch-default>
    <button
      class="btn btn-large confirmed"
      ng-class="{'btn-info' : invitation.status === 'accepted', 'btn-danger' : invitation.status === 'rejected'}">{{invitation.status}}</button>
  </div>
</div>
