<div style="">
  <p>Hi!</p>
  <p>
  We would like to know if you could please confirm your assistance to the
  <br />
  wedding clicking <a href="<%= @invitation_link %>">here</a>.
  <br/>
  Thanks.
  <br/>
  <br/>
  Katie &amp; Sebasti&aacute;an.
  </p>
</div>
