body {
  padding-top: 50px;
}

.container .row > [class*="span"] {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

/* Icons */
[class^="bicon-"],
.icon-kys {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
  vertical-align: baseline;
}

.icon-kys {
  margin-left: 5px;
  width: 111px;
  height: 110px;
  max-width: 111px;
  max-height: 110px;
  background-image: url(/img/icon-kys.png);
  background-size: 111px 110px;
}

[class^="bicon-"] {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  background-size: 100px 100px;
  border-right: 1px dotted #1abc9c;
  padding-right: 15px;
}

.bicon-compass {
  background-image: url(/img/icon-compass.png);
}

.bicon-watch {
  background-image: url(/img/icon-watch.png);
}

.side-bar {
  border-radius: 4px 0 0 4px;
}

.main {
  color: #1abc9c;
  padding-right: 20px;
  border-radius: 0 4px 4px 0;
}

.main .header {
  text-align: center;
}

.main p span {
  margin-left: 15px;
  font-size: 22px;
  font-weight: bold;
}

.main p [class^="bicon-"] {
  vertical-align: middle;
}

.confirmation-box {
  color: #2c3e50;
  text-align: center;
}

.confirmation-box .span3 {
  margin-left: 0;
}

.confirmation-box span.or {
  display: inline-block;
  padding-top: 10px;
}

.confirmation-box button.confirmed {
  width: 200px;
  text-transform: uppercase;
}

.btn-group.status-filter button.btn {
  width: 80px;
}

.dark {
  color: #333333;
  font-size: 21px;
  line-height: 40px;
}
