<form name="form" class="form-horizontal" no-validate ng-submit="save()">
  <div class="control-group">
    <div class="controls">
      <input
      class="span4"
      type="text"
      ng-model="invitation.name"
      ng-required="true"
      ng-minlength="8"
      placeholder="Name" />
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <input
      class="span4"
      type="email"
      ng-model="invitation.email"
      ng-required="true"
      placeholder="Email" />
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" ng-model="invitation.plus_one" />Plus One?
      </label>
    </div>
  </div>

  <div class="control-group" ng-show="invitation.plus_one">
    <div class="controls">
      <input
      class="span4"
      type="text"
      ng-model="invitation.plus_one_name"
      ng-required="invitation.plus_one"
      ng-minlength="6"
      placeholder="Plus One's Name" />
    </div>
  </div>

  <div class="control-group" ng-show="invitation.plus_one">
    <div class="controls">
      <input
      class="span4"
      type="number"
      ng-model="invitation.plus_one_count"
      ng-required="invitation.plus_one"
      min="1"
      max="5"
      value="1"/>
    </div>
  </div>

  <div class="control-group">
    <button
      type="submit"
      class="btn btn-primary span3 pull-left"
      ng-disabled="form.$invalid || form.$pristine">Save
    </button>
    <a href="/invitations" class="btn btn-danger span3 pull-right">Cancel</a>
  </div>
</form>
