<div class="clearfix">
  <span class="dark">Invitations</span>
  <span class="pull-right"><a class="btn btn-danger" href="/invitations/new">New Invitation</a></span>
</div>

<hr />

<statistics for="invitations"></statistics>

<div class="pull-left">
  <input type="text" ng-model="search.name" placeholder="Search...">
</div>

<!-- TODO: Maybe move this to a directive -->
<div class="status-filter btn-group pull-right">
  <button ng-repeat="filter in filters" ng-click="search.status = filter.value" class="btn btn-info" ng-class="{active : search.status === filter.value}">{{filter.label}}</button>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Invitee</th>
      <th>Email</th>
      <th>Plus One?</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="invitation in invitations | filter:search:strict">
      <td>{{invitation.name}}</td>
      <td>{{invitation.email}}</td>
      <td class="plus-one">
        <span ng-class="{'fui-check' : invitation.plus_one, 'fui-cross' : !invitation.plus_one}"></span>
      </td>
      <td>
        <span
          class="label"
          ng-class="{'label-success' : invitation.isAccepted(), 'label-warning' : invitation.isPending(), 'label-important' : invitation.isRejected()}">{{invitation.status}}</span>
      </td>
      <td>
        <a ng-href="/rsvp/{{invitation.id}}"><span class="fui-eye"></span></a>
        <a ng-href="/invitations/{{invitation.id}}/edit" ng-click="edit()"><span class="fui-new"></span></a>
        <a href="#" ng-click="resendEmail($index)"><span class="fui-mail"></span></a>
        <a href="#" ng-click="destroy($index)"><span class="fui-cross"></span></a>
      </td>
    </tr>
  </tbody>
</table>
