body {
  padding-top: 50px;
}

.container .row > [class*="span"] {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.photo .icon-infinity {
  margin-left: 8px;
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  vertical-align: baseline;
  background-image: url(/img/icon-infinity.png);
  background-position: 0 0;
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.main {
  color: #bdc3c7;
  text-align: center;
  padding-right: 20px;
}

.main .buttons .span3 {
  margin-left: 0;
}

.main span.or {
  display: inline-block;
  padding-top: 10px;
}
